@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: #7C93C3;
    background-image: url('/img/snow.gif');
    background-blend-mode: lighten;
    text-shadow: 2px 1px rgb(153, 150, 150);
    color: white;
}

.headline {
    border-bottom: 1px solid rgb(254, 251, 251);
}
.a {
    text-decoration-thickness: 0.5px;
}

hr  {
    width: 900px;
}

#projects {
    background-color: #1e2a5e3f;
    width: 900px;
    height: 1100px;
}

#projects h2 {
    padding-bottom: 2px;
    border-bottom: 1px dotted rgb(254, 251, 251);
}

#projects .box {
    border: 0.5px dotted rgb(254, 251, 251);
    border-radius: 9px;
}

.img1 {
    border-radius: 5px;
}